@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>CRUD Sample</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to CRUD Sample</h1>
    <p>
        This CRUD sample application demonstrates ASP.Net Core MVC framework and EF Core technologies.
    </p>
</div>