@using AspNetCore.Mvc.CrudSample.Entities
@model CourseListViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" role="button" asp-controller="Course" asp-action="New">New Course</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 25%" scope="col">Id</th>
                <th style="width: 50%" scope="col">Name</th>
                <th style="width: 25%" scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Course course in Model.Courses)
            {
                <tr>
                    <td scope="row">@course.Id</td>
                    <td>@course.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@course.Id">Edit</a> |                        
                        <a asp-action="Delete" asp-route-id="@course.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>