@{
}

@model NewCourseViewModel;

<h1>New Course</h1>

<form asp-controller="Course" asp-action="Save" method="post">
    Name: <input asp-for="Name" />
    <button type="submit">Save</button>
</form>