@{
}

@model StudentViewModel;

<h1>Student Details</h1>

Id: @Model.Id
Name: @Model.Name

<ul>
    @foreach (var course in Model.Courses.Where(c => Model.CourseIds.Contains(c.Id)))
    {
        <li>@course.Name</li>
    }
</ul>