@{
}

@model StudentViewModel;

<h1>Student</h1>

<form asp-controller="Student" asp-action="Save" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    Id: @Model.Id
    Name: <input asp-for="Name" value="@Model.Name" />
    Course:
    <select asp-for="CourseIds" multiple="multiple" asp-items="Model.CoursesListItem">
        <option value="">Select Course</option>
    </select>
    <button type="submit">Save</button>
</form>