@{
}

@model StudentViewModel;


<div class="container">
    <div class="py-5 text-center">
        <h2>New Student</h2>
        <p class="lead">Here student information can be entered. Internally each student has an auto generated Id.<br />
        Student name is required from the user. Courses can be selected optionally. Validation is performed at client.</p>
    </div>
</div>

<form asp-controller="Student" asp-action="Edit" method="post">
    @if (Model.Id != 0)
    {
        <div class="form-group row mb-3">
            <div class="col-sm-12">
                <label for="Id">Id</label>
                <span class="form-control">@Model.Id</span>
            </div>
        </div>
    }
    <div class="form-group row mb-3">
        <div class="col-sm-12">
            <label for="Name">Name</label>
            <input type="text" class="form-control" asp-for="Name" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mb-3">
        <div class="col-sm-12">
            <label for="Course">Courses <span class="text-muted">(Optional)</span></label>
            <select class="custom-select d-block w-100" asp-for="CourseIds" multiple="multiple" asp-items="Model.CoursesListItem">
                <option value="0">Select Course</option>
            </select>
        </div>
    </div>
    <div class="form-group row mb-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" asp-controller="Student" asp-action="Index" role="button">Cancel</a>
        </div>
    </div>
</form>