@{
}

@model NewStudentViewModel;

<h1>New Student</h1>

<form asp-controller="Student" asp-action="Save" method="post">
    Id: <input asp-for="Id" />
    Name: <input asp-for="Name" />
    <button type="submit">Save</button>
</form>